/* Padrozinação de Pagina*/
@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overlock+SC&family=Preahvihear&family=SUSE:wght@100..800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "SUSE", sans-serif;
    box-sizing: border-box;
}

/* Nav Bar ou Barra de navageção */

.navbar-container {
    width: 100%;
    height: 70px;
    background: rgb(193,37,79);
background: linear-gradient(0deg, rgba(193,37,79,1) 0%, rgba(255,64,116,1) 100%);
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    
}

.logotype {
    width: 100px;
    margin-top: 5px;
    padding-bottom: 10px;
}

.star {
    width: 60px;
    margin-top: -12px;
}

.navbar-items {
    display: inline-flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
   
}

.navbar-items li {
    display: inline-block;
}

/* É importante sempre especificar para nao puxar todos por iguais */

.navbar-items li a {
    transition: 0.5s;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
}

.btn {
    padding: 15px 50px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    box-shadow: 0px 0px 20px -3px rgba(0,0,0,0.25);

}

.play {
    background-color: #ff4e7d;
    color: #fff;
    border: 1px solid #ffffff;
    font-family: "Overlock SC", system-ui;
    transition: all 0.5s;
    cursor: pointer;
}

.play:hover {
    
    background-color: #c52751;
}

/* */
.navbar-items li a:hover {
    
    color: #810325;
}

/* BackGround Star Guardians ( main banner ) */ 
/* Para sobrepor as imagens tem a função de before e after para ajudar ter uma sobreposição com as configurações abaixo.  */

.mainbanner {
    position: relative;
    width: 100vw;
    height: calc(100vh - 200px);
}

.mainbanner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/mainbanner2.png);
    background-size: cover;
    z-index: 1;
}


.mainbanner::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    transform: translate(-50%, -50%);
    aspect-ratio: 16/9;
    background-image:  url(../img/lol_logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 2;
    opacity: 0.8;
}

/* seção dos passes */

h1,
h2,
h3 {
    color: hsl(344, 67%, 46%);
    font-family: "SUSE", sans-serif;

}

p {
    color: #333;
    font-family: "SUSE", sans-serif;
}

.services-container {
    padding: 2rem 0;
}

.services-container ul {
    display: flex;
    width: 90%;
    margin: 0 auto;
}

.services-container li {
    flex: 1 1 200px;
    list-style: none;
    text-align: center;
    padding: 20px;
}

.pass {
    font-size: 60px;
    margin-bottom: 15px;
    
}

.services-container h3 {
    margin-bottom: 25px;
}

.services-container p {
    margin-bottom: 24px;
}

.passe1{
    width: 100px;  /* Define a largura da imagem */
    height: auto;
}

.passe2 {
    width: 100px;  /* Define a largura da imagem */
    height: auto;
}

.passe3 {
    width: 100px;  /* Define a largura da imagem */
    height: auto;
}

/* preços */

.pricing-container {
    padding-top: 2rem;
    display: flex;
    padding-bottom: 5rem;
    text-align: center;
    justify-content: center;
}

.topopass {
    padding: 1rem;
}

.topopass h2 {
    text-align: center;
    font-size: 36px;
}

.topopass p {
    text-align: center;
    font-size: 20px;
}

.plans-container {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 50px auto 0;
    
}

.price-recommended {
    justify-content: center;
}

.plans {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.plans ul {
    padding: 0;
}

.plans li {
    list-style: none;
    height: 50px;
    line-height: 50px;
    background-color: #fd4779;
    color: #fff;
    padding: 5px;
    
}

.plans .price {
    
    height: 50px;
    margin-bottom: 10px;
    border-radius: 10px;
    background: rgb(240,38,93);
    background: linear-gradient(90deg, rgba(240,38,93,1) 0%, rgba(236,80,122,1) 47%, rgba(240,38,93,1) 100%);
    border: 1px solid #f8b116;
    box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.25);
    text-align: center;
    font-size: 18px;
    position: relative;
}    

.plans .plan-name {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    color: #b40338;
    background-color: #ffeed5;
    border-radius: 6px;
    border: 1px solid #f8b116;
    box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.25);
    margin-bottom: 10px;
}

.plans .plan-btn {
    background-color: #4e165c;
    color: #ffffff;
    background: rgb(240,38,93);
    background: linear-gradient(90deg, rgba(240,38,93,1) 0%, rgba(236,80,122,1) 47%, rgba(240,38,93,1) 100%);
    border: 1px solid #f8b116;
    font-size: 24px;
    height: 75px;
    line-height: 75px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 6px;
}


/* Busca no site*/
.searchdomain-container {
    width: 100%;
    background: rgb(240,38,93);
background: linear-gradient(177deg, rgba(240,38,93,0.9023984593837535) 0%, rgba(81,0,179,0.7231267507002801) 100%);
    text-align: center;
    padding: 5rem 0;
}

.searchdomain-container h2 {
    color: #fff;
    font-size: 42px;
    margin-bottom: 15px;
}

.searchdomain-container p {
    color: #ffffff;
    font-size: 24px;
    margin-bottom: 25px;
}

.searchdomain-container input {
    color: #ffffff;
    display: block;
    border: none;
    border-radius: 5px;
    margin: 0 auto;
}

.searchdomain-container input[type="text"] {
    color: #fff;
    width: 60%;
    padding: 20px;
    font-size: 20px;
    margin-bottom: 25px;
}

.searchdomain-container input[type="submit"] {
    background-color: #ec3d72;
    padding: 15px 30px;
    color: #ffffff;
    font-size: 24px;
    cursor: pointer;
    opacity: 0.9;
    transition: 0.5s;
    box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.25);
}

.searchdomain-container input[type="submit"]:hover {
    opacity: 1;
}

.mainfeed-container .city {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/mainbanner2.png);
    background-size: cover;
}

.mainfeed-container h2 {
    font-family: "SUSE", sans-serif;
    text-align: center;
    font-size: 36px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.mainfeed-container p {
    text-align: center;
    font-size: 16px;
    font-family: "SUSE", sans-serif;
    padding-left: 30rem;
    padding-right: 30rem;
}

.video-container {
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    
    width: 100%;  /* Largura fixa do contêiner */
    margin: 0 auto;  /* Centraliza o contêiner na página */
    padding-bottom: 2rem;
}

.footer-container {
    width: 100%;
    background: rgb(240,38,93);
    background: linear-gradient(177deg, rgba(240,38,93,0.9023984593837535) 0%, rgba(145,22,55,1) 100%);
    font-family: "SUSE", sans-serif;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;  /* Centraliza o conteúdo horizontalmente */
}

.footer-container p {
    font-size: 13px;
    text-align: center;
    color: #fff;
    padding-left: 50px;
    padding-right: 0px;
}

.footer-container .logotype1 {
    display: flex;
    justify-content: center;
    width: 100px;
    padding-bottom: 20px;
    align-items: center;

}

/* Tela menor que 1100px */
@media (max-width: 1100px) {

    .mainfeed-container p {
        padding-left: 5rem;
        padding-right: 5rem;
    }

    .navbar-container {
        padding: 0 1rem;
    }
    .plans-container {
        flex-direction: column;
        width: 100%;
    }
    .plans {
        margin-bottom: 30px;
    }
    .video-container {
        width: 100%;
    }
}

/* Tela menor que 900px */
@media (max-width: 900px) {
    .navbar-items {
        flex-direction: column;
    }
    .services-container ul {
        flex-direction: column;
    }
    .pricing-container {
        flex-direction: column;
        padding: 0 1rem;
    }
    .footer-container {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

/* Tela menor que 576px */
@media (max-width: 576px) {
    .mainbanner::after {
        width: 300px;
    }
    .navbar-container {
        flex-direction: column;
        height: auto;
        padding: 1rem;
    }
    .logotype {
        width: 80px;
    }
    .star {
        width: 40px;
    }
    .btn {
        padding: 10px 20px;
        font-size: 16px;
    }
    .services-container ul {
        flex-direction: column;
        gap: 1rem;
    }
    .plans .plan-name {
        font-size: 18px;
    }
}